.logo-div{
    display: flex;
    justify-content: center;
}
.logo-div img{
    width: 8%;
}
.nav-top{
    display: none;
}
.nav-bottom{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;    
    font-size: 16px;
    z-index: 100;
}
.nav-bottom .row{
    margin: 0% !important;
}
.nav-txt{
    margin-top: -8px;
}

@media screen and (min-width: 600px){
    .logo-div{
        justify-content: start;
        margin-top: 10px;
        margin-left: 10px;
    }
    .logo-div img{
        width: 40px;
       
    }
    .nav-bottom{
        display: none;
    }
    .nav-top{
        display: inline;
    }
    .nav-top .row{
        font-size: 20px;
        width: 80%;
        margin-left: 100px;
        margin-top: -45px;
        color: gray;
    }
    .search{
        border-radius: 20px;
    }
    .search :focus{
        background-color: #491cff;
    }
    .selected{
        color: #491cff;
        font-weight: bold;
    }
}